$icomoon-font-family: "NeoIcon" !default;
$icomoon-font-path: "fonts" !default;

$neo-icon-droplet: "\e90b";
$neo-icon-paint-format: "\e90c";
$neo-icon-clubs: "\e918";
$neo-icon-diamonds: "\e919";
$neo-icon-files-empty: "\e925";
$neo-icon-file-text2: "\e926";
$neo-icon-credit-card: "\e93f";
$neo-icon-calculator: "\e940";

