$primary-color: #fe413d;
$secondary-color: #fdbc2c;
$dark-color: #0e1722;
$dark-color-transparent: #0e1722d2;
$dark-outline-color: #383d44d2;
$light-color: #eee;
$light-color-hover: #ccc;
$title-font-size: 1.2em;
$menu-font-size: 1em;
$text-font-size: 0.8em;



.primary-color{
  color: $primary-color;
}

.secondary-color{
  color: $secondary-color;
}

.dark-color{
  color: $dark-color;
}

.light-color{
  color: $light-color;
}

.primary-background{
  background-color: $primary-color;
}

.secondary-background{
  background-color: $secondary-color;
}

.light-background{
  background-color: $light-color;
}

.dark-background{
  background-color: $dark-color-transparent;
  border: solid 1px $dark-outline-color ;
}

.title-font-size {
  font-size: $title-font-size;
}

.menu-font-size {
  font-size: $menu-font-size;
}

.text-font-size {
  font-size: $text-font-size;
}

.bold-font {
  font-weight: bold;
}

html {
  font-size: 16px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  box-shadow: none !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.hover-primary:hover {
  color: $primary-color;
}

.hover-secondary:hover {
  color: $secondary-color;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
